{# 
/* @var $this yii\web\View */
/* @var $model app\models\MessageFromSite */
/* @var $form yii\widgets\ActiveForm */
#}

{{ use('yii/bootstrap4/ActiveForm') }}

<div class="message-from-site-form">



    {% set form = active_form_begin() %}

    {{ form.field(model, 'title').textInput({'maxlength': true}) | raw }}

    {{ form.field(model, 'name').textInput({'maxlength': true}) | raw }}

    {{ form.field(model, 'phone').textInput({'maxlength': true}) | raw }}

    {{ form.field(model, 'email').textInput({'maxlength': true}) | raw }}

    {{ form.field(model, 'message').textarea({'rows': 6}) | raw }}

    {{ form.field(model, 'page').textInput({'maxlength': true}) | raw }}

    <br>
    <div class="form-group">
         {{ html.submitButton(lang('app', 'Save'), {'class': 'btn btn-outline-success btn-sm'}) | raw }}
    </div>

    {{ active_form_end() }}

</div>
