{# 
/* @var $this yii\web\View */
/* @var $model app\models\Order */
/* @var $form yii\widgets\ActiveForm */
#}

{{ use('yii/bootstrap4/ActiveForm') }}
{{ use('yii/widgets/MaskedInput') }}

<div class="customer-form">

    {% set form = active_form_begin() %}

        <div class="row">
            <div class="col-md-4">
                {{ form.field(model, 'child_name', {'enableAjaxValidation': true}).textInput({'placeholder': lang('app', 'Child name'), 'class': 'form-control form-control-sm', 'autocomplete': 'off'}) | raw }}
            </div>
            <div class="col-md-4">
                {{ form.field(model, 'parents_name').textInput({'placeholder': lang('app', 'Parent name'), 'maxlength': true, 'class': 'form-control form-control-sm', 'autocomplete': 'off'}) | raw }}
            </div>
            <div class="col-md-4">
                {{ form.field(model, 'phone').widget('yii\\widgets\\MaskedInput', {'mask': '+[7|9] (999) 999-99-99'}).textInput({'placeholder': lang('app', 'Phone'), 'class':'form-control form-control-sm', 'autocomplete': 'off'}) | raw }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div>
                    {{ form.field(model, 'email').textInput({'maxlength': true, 'placeholder': lang('app', 'Email'), 'class': 'form-control form-control-sm', 'autocomplete': 'off'}) | raw }}
                </div>
                <div>
                    {% set birthday = app.formatter.asDate(model.birthday, 'php:d.m.Y') %}
                    {{ form.field(model, 'birthday').widget('yii\\widgets\\MaskedInput', {'mask': '99.99.9999'}).textInput({'placeholder': lang('app', 'Date of birthday'), 'class':'form-control form-control-sm', 'autocomplete': 'off', 'value': birthday}) | raw }}
                </div>
            </div>
            <div class="col-md-6 ">
                <div>
                    {{ form.field(model, 'comment').textArea({'rows': 1, 'placeholder': lang('app', 'Your comment') ~' ...', 'class': 'form-control form-control-sm'}) | raw }}
                </div>
                 <div>
                      {{ form.field(model, 'pmpk_recommendation').textInput({'placeholder': lang('app', 'PMPK recomendations'), 'maxlength': true, 'class': 'form-control form-control-sm', 'autocomplete': 'off'}) | raw }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div>
                      {{ form.field(model, 'neurologist_conclusion').textInput({'placeholder': lang('app', 'Neurologist conclusion'), 'maxlength': true, 'class': 'form-control form-control-sm', 'autocomplete': 'off'}) | raw }}
                </div>
            </div>
             <div class="col-md-6">
                <div>
                      {{ form.field(model, 'psychiatrist_conclusion').textInput({'placeholder': lang('app', 'Psychiatrist conclusion'), 'maxlength': true, 'class': 'form-control form-control-sm', 'autocomplete': 'off'}) | raw }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div>
                      {{ form.field(model, 'audiologist_conclusion').textInput({'placeholder': lang('app', 'Audiologist conclusion'), 'maxlength': true, 'class': 'form-control form-control-sm', 'autocomplete': 'off'}) | raw }}
                </div>
            </div>
             <div class="col-md-6">
                <div>
                      {{ form.field(model, 'psychologist_conclusion').textInput({'placeholder': lang('app', 'Psychologist conclusion'), 'maxlength': true, 'class': 'form-control form-control-sm', 'autocomplete': 'off'}) | raw }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div>
                    {% set dateInitialExamination = app.formatter.asDate(model.date_initial_examination, 'php:d.m.Y') %}
                    {{ form.field(model, 'date_initial_examination').widget('yii\\jui\\DatePicker', {
                                                'options':{},
                                                'clientOptions':{
                                                    'minDate':'',
                                                    'maxDate':''
                                                },
                                                'class':'form-control form-control-sm',
                                                'language': 'ru',
                                                'dateFormat':'php:d.m.Y',
                                            }).widget('yii\\widgets\\MaskedInput', {
                                                'mask': '99.99.9999'
                                            }).textInput({
                                                'class':'form-control form-control-sm',
                                                'placeholder': lang('app', 'Date ...'),
                                                'value': date_initial_examination
                                            }) | raw}}

                </div>
            </div>
            <div class="col-md-9 ">
                {{ form.field(model, 'initial_examination').textArea({'rows': 5, 'placeholder': lang('app', 'Initial examination') ~' ...', 'class': 'form-control form-control-sm'}) | raw }}
            </div>
        </div>

        <br>
        <div class="form-group">
            {{ html.submitButton(lang('app', 'Save'), {'class': 'btn btn-outline-success btn-sm'}) | raw }}
        </div>

    {{ active_form_end() }}

</div>